<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Play Music Fix</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css?version=9' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs col-md-1">
                &nbsp;
            </div>
            <div class="col-xs-12 col-md-8 m-t-20">
                <div class="media col-xs-12">
                    <div class="media-left">
                        <img class="media-object" src="{% static 'images/PlayMusic.png' %}" alt="Google Play Music Logo" width="70px">
                    </div>
                    <div class="media-body">
                        <h1 class="media-heading">Play Music Fix</h1>
                        <p>Welcome to <em>Play Music Fix</em>, a very basic website developed to backup your Play Music playlists.</p>
                    </div>
                </div>
                <div class="col-xs-10">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="col-xs-12 col-md-3 text-justified sidebar">
                {% block sidebar %}
                <h3>How-To</h3>
                <ol class="m-t-20 m-r-10">
                    <li>
                        Log in using your Google account and an <strong>app password</strong>. You can generate one <a href="https://myaccount.google.com/apppasswords" target="_blank">here</a>.
                    </li>
                    <li><strong>Playlist</strong>: <strong>Backup</strong> and <strong>restore</strong> your playlists.</li>
                    <li><strong>Setlist.FM to Play Music</strong>: Create playlists based on concerts found on <a href="https://www.setlist.fm/" target="_blank">setlist.fm</a> webpage. You can find the setlist ID at the end of its url, it looks like <i>7bcc52c0</i>. This uses the setlist.fm API.</li>
                </ol>
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>