{% extends "base_generic.html" %}

{% block javascript %}
    <script>
    $(".restore").click(function () {
      waitingDialog.show('Restoring your playlist...');
      var playlist_id = $(this).val();
      $.ajax({
        url: '{% url "restore" %}',
        data: {
          'playlist_id': playlist_id
        },
        dataType: 'json',
        success: function (data) {
            $("#" + playlist_id).removeClass("danger");
            $("#" + playlist_id + " > td:nth-child(4)").text(data.num_tracks + " tracks");
            waitingDialog.hide();
            $('#myModal').modal({show:true})
        }
      });
    });

    var recursive_restore = function (index, ids) {
      var value = ids[index];
      $('.modal-header h3').text('Restoring your playlists... ' + (index + 1) + '/' + ids.length);
      $.ajax({
        url: '{% url "restore" %}',
        data: {
          'playlist_id': value
        },
        dataType: 'json',
        success: function (data) {
            $("#" + value).removeClass("danger");
            $("#" + value + " > td:nth-child(4)").text(data.num_tracks + " tracks");
            if (index < ids.length - 1) {
                recursive_restore(index + 1, ids);
            } else {
              waitingDialog.hide();
              $('#myModal').modal({show:true})
            }
        }
      });
    }

    $("#bulk-restore").click(function () {
      var playlist_ids = $(".check-restore:checkbox:checked").map(function(){
          return $(this).val();
      }).get();
      waitingDialog.show('Restoring your playlists... 1/' + playlist_ids.length);
      $(".check-restore:checkbox:checked").prop('checked', false);
      recursive_restore(0, playlist_ids);
    });

    $(".backup").click(function () {
      waitingDialog.show('Backing up your playlist...');
      var playlist_id = $(this).val();
      $.ajax({
        url: '{% url "backup" %}',
        data: {
          'playlist_id': playlist_id
        },
        dataType: 'json',
        success: function (data) {
            $("#" + playlist_id).removeClass("danger");
            $("#" + playlist_id + " > td:nth-child(2)").text(data.num_tracks + " tracks");
            waitingDialog.hide();
            $('#myModal').modal({show:true})
        }
      });
    });

    var recursive_backup = function (index, ids) {
      var value = ids[index];
      $('.modal-header h3').text('Backing up your playlists... ' + (index + 1) + '/' + ids.length);
      $.ajax({
        url: '{% url "backup" %}',
        data: {
          'playlist_id': value
        },
        dataType: 'json',
        success: function (data) {
            $("#" + value).removeClass("danger");
            $("#" + value + " > td:nth-child(2)").text(data.num_tracks + " tracks");
            if (index < ids.length - 1) {
                recursive_backup(index + 1, ids);
            } else {
              waitingDialog.hide();
              $('#myModal').modal({show:true})
            }
        }
      });
    }

    $("#bulk-backup").click(function () {
      var playlist_ids = $(".check-backup:checkbox:checked").map(function(){
          return $(this).val();
      }).get();
      waitingDialog.show('Backing up your playlists... 1/' + playlist_ids.length);
      $(".check-backup:checkbox:checked").prop('checked', false);
      recursive_backup(0, playlist_ids);
    });

    $("#backup_all").click(function () {
      waitingDialog.show('Backing up your playlists...');
      $.ajax({
        url: '{% url "backup_all" %}',
        dataType: 'json',
        success: function (data) {
            waitingDialog.hide();
            location.reload();
        }
      });
    });

    var recursive_delete = function (index, ids) {
      var value = ids[index];
      $('.modal-header h3').text('Deleting your playlists... ' + (index + 1) + '/' + ids.length);
      $.ajax({
        url: '{% url "delete" %}',
        data: {
          'playlist_id': value
        },
        dataType: 'json',
        success: function (data) {
            $("#" + value).removeClass("danger");
            $("#" + value + " > td:nth-child(2)").text("DELETED");
            if (index < ids.length - 1) {
                recursive_delete(index + 1, ids);
            } else {
              waitingDialog.hide();
              $('#myModal').modal({show:true})
            }
        }
      });
    }

    $("#bulk-delete").click(function () {
      var playlist_ids = $(".check-delete:checkbox:checked").map(function(){
          return $(this).val();
      }).get();
      waitingDialog.show('Deleting your playlists... 1/' + playlist_ids.length);
      $(".check-delete:checkbox:checked").prop('checked', false);
      recursive_delete(0, playlist_ids);
    });

    $("#backup_all").click(function () {
      waitingDialog.show('Backing up your playlists...');
      $.ajax({
        url: '{% url "backup_all" %}',
        dataType: 'json',
        success: function (data) {
            waitingDialog.hide();
            location.reload();
        }
      });
    });

    $("#setlist-to-gpm").click(function () {
      waitingDialog.show('Generating playlist...');
      $.ajax({
        url: '{% url "setlist" %}',
        data: {
            'setlist_id': $("#setlist-id").val(),
            'playlist_name': $("#playlist-name").val(),
        },
        dataType: 'json',
        success: function (data) {
            waitingDialog.hide();
            $('#myModal').modal({show:true})
        }
      });
    });
  </script>
{% endblock %}

{% block content %}

<!-- Nav tabs -->

<ul class="nav nav-tabs m-t-20" role="tablist">
    <li class="nav-item active">
        <a class="nav-link active" data-toggle="tab" href="#playlists" role="tab">Playlists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#setlist" role="tab">Setlist.FM to Play Music</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content m-t-20">
    <div class="tab-pane active" id="playlists" role="tabpanel">
        <div class="col-xs-12">
            <button id="bulk-restore" class="btn btn-primary btn-xs" name="restore" type="submit">Restore selected</button>
            <button id="bulk-backup" class="btn btn-info btn-xs" name="backup" type="submit">Backup selected</button>
            <button id="bulk-delete" class="btn btn-danger btn-xs" name="delete" type="submit">Delete selected</button>

            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                    <th>Playlist</th>
                    <th colspan="2" class="text-center">Backup</th>
                    <th colspan="2" class="text-center">Real</th>
                    </tr>
                </thead>
                <tbody>
                    {% if playlist_list %}
                        {% for playlist in playlist_list %}
                        <tr id="{{ playlist.google_id }}" class="{% if playlist.stored_tracks != playlist.actual_tracks %}danger{% endif %}">
                            <td>
                                <input type="checkbox" name="bulkdelete" class="check-delete" value="{{ playlist.google_id }}"/>
                                {{ playlist.name }}
                            </td>
                            <td class="adjust-width text-right">
                                {{ playlist.stored_tracks }} tracks
                            </td>
                            <td class="adjust-width">
                                <input type="checkbox" name="bulkrestore" class="check-restore" value="{{ playlist.google_id }}"/>
                                <button id="restore" class="restore btn btn-primary btn-xs" name="restore" value="{{ playlist.google_id }}" type="submit">Restore</button>
                            </td>
                            <td class="adjust-width text-right">
                                {{ playlist.actual_tracks }} tracks
                            </td>
                            <td class="adjust-width">
                                <input type="checkbox" name="bulkbackup" class="check-backup" value="{{ playlist.google_id }}"/>
                                <button id="backup" class="backup btn btn-info btn-xs" name="backup" value="{{ playlist.google_id }}" type="submit">Backup</button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No playlists available.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% if playlist_list %}
            <div class="text-center m-b-20">
                <button id="backup_all" class="btn btn-info" name="backup_all" value="backup_all" type="submit">Backup All Playlists</button>
            </div>
        {% endif %}
    </div>
    <div class="tab-pane" id="setlist" role="tabpanel">
        <div class="col-xs-12">
            <div class="form-group col-xs-12">
                <label for="setlist-id">Setlist ID:</label>
                <input type="text" class="form-control" name="setlist" id="setlist-id" required/>
            </div>
            <div class="form-group col-xs-12">
                <label for="playlist-name">Playlist name:</label>
                <input type="text" class="form-control" name="playlist name" id="playlist-name" required/>
            </div>
            <div class="col-xs-12">
                {% if error_message %}<p class="text-justified text-danger">{{ error_message }}</p>{% endif %}
            </div>
            <div class="form-group col-xs-12 text-center m-b-20">
                <button id="setlist-to-gpm" class="btn btn-primary" name="setlist to gpm" value="setlist-to-gpm" type="submit">Generate Playlist</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Done</h4>
            </div>
            <div class="modal-body">
                All done! :)
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
