{% extends "base_generic.html" %}

{% block content %}
<h1>Play Music Fix</h1>

  <p>Welcome to <em>Play Music Fix</em>, a very basic website developed to backup your Play Music playlists.</p>

<h2>Login</h2>
<div class="col-xs-6 col-md-4">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'playlists' %}" method="post">
      {% csrf_token %}
      <div class="form-group col-xs-12">
          <label for="mail">Mail:</label>
          <input type="text" class="form-control" name="mail" id="mail" required/>
      </div>
      <div class="form-group col-xs-12">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" required/>
      </div>
      <div class="form-group col-xs-12">
          <input type="submit" class="btn btn-default pull-right" value="Login" />
      </div>
    </form>

</div>
<div class="col-xs-12">
  <p>The website has the following record counts:</p>
  <ul>
    <li><strong>Tracks:</strong> {{ num_tracks }}</li>
    <li><strong>Playlists:</strong> {{ num_playlists }}</li>
  </ul>
</div>

{% endblock %}